body{
	font-family: 'Segoe UI';
	margin: 0;
}
.container{
    z-index: 9;
    width: 100%;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all .5s cubic-bezier(0,0,0.09,0.87);
}
header{
	display: flex;
	align-items: center;
	color: gray;
}
header h1{
	font-weight: 300;
	margin-left: 20px;
	font-size: 38px;
}
body > div:last-child{
	opacity: 0;
    transition: opacity .5s cubic-bezier(0,0,0.09,0.87);
}
#welcome{
    margin-top: 40px;
}
#welcome input{
	outline: none;
    padding: 8px;
    padding-top: 6px;
    font-size: 20px;
    font-weight: 300;
    color: #3F7BDC;
    font-family: 'Segoe ui';
    border: none;
}
#welcome button{
	-webkit-appearance: none;
    border: none;
    padding: 8px;
    padding-top: 3px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Segoe ui';
    cursor: pointer;
    background-color: #949494;
    color: white;
    border-radius: 2px;
    transition: all .5s cubic-bezier(0,0,0.09,0.87);
    outline: none;
}
button:hover {
    background-color: #00DD92 !important;
}

#ganaste{
    width: 100%;
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    color: gray;
    position: absolute;
    top: 0;   
    flex-direction: column;
    display: none;
    background-color: white;
}

#ganaste h1, #ganaste h2{
    font-weight: 300;
}

#ganaste h1{
    margin: 0;
}

#ganaste h2{
    margin-bottom: 40px;
}

#jugarDeNuevo{
    border: none;
    padding: 8px;
    border-radius: 2px;
    color: white;
    background-color: #3F7BDC;
    cursor: pointer;
    outline: none;
}

#jugadores{
    position: absolute;
    top: 0px;
    z-index: 999;
    right: 10px;
    border-left: 1px solid rgb(221, 221, 221);
    padding: 10px;
    height: calc(100% - 20px);
    width: 150px;
    display: none;
}

.jugador{
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 5px;
}

.jugador span{
    display: block;
    color: #4d4d4d;
    font-weight: 300;
}